
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'russo One' sans-serif;
   text-transform: capitalize;
}
body{
   background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

h1 {
   color: blueviolet;
   transform: translate(-50% -50%);
   font-size: 6rem;
   

}