/** @format */

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");


:root {
	--varcolor-dark: #241f1f;
	--varcolor-gray: #a79bbe;
	--sm-size: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "russo One" sans-serif;
	text-transform: capitalize;
	text-decoration: none;
}

body {
   margin: 0;
	background: linear-gradient(to right top , #09157a,#4c8dd8);
	
}

.showcase::after{
   content: '';
   height: 85vh;
   width: 100%;
   background-image:url(./Groupchart.png) ;
   background-size: cover;
   background-repeat: repeat;
   background-position: center;
   display: block;
   filter: blur(10px);
   transition: all 1000ms;
}
.showcase:hover::after{
   filter: blur(0px);
   -webkit-filter: blur(0px) ;
}


.showcase:hover .content{
   filter: blur(2px);
   -webkit-filter: blur(2px) ;
}

.content {
   position: absolute;
   z-index: 1;
   top: 10%;
   left: 50%;
   margin-top: 105px;
   margin-left: -145px;
   width: 300px;
   height: 400px;
   text-align: center;
   transition: all 1000ms;

}

.content .logo {
   background: rgba(255, 255, 255, 0.9);
   height: 200px;
   width: 200px;
   background:-webkit-linear-gradient(342deg, rgba(11, 5, 95, 0.5) 20%, rgba(169, 207, 42,0.5) 72%);
   background:-o-linear-gradient(342deg, #17116f 20%, #99c506 72%);
   background:-moz-linear-gradient(342deg, #17116f 20%, #a9cf2a 72%);
   background:linear-gradient(342deg, rgba(23, 17, 111,0.3) 20%, rgba(192, 181, 19, 0.7) 72%);
   
   
   border-radius: 50%;
   align-self: center;

}
.content .tech {
	margin-top: 1rem;
	font-size: 3rem;
	-webkit-filter: contrast(2) invert(1) blur(2px);
	filter: contrast(2) invert(1) blur(0px);
	text-shadow: 3px 3px 2px rgba(27, 203, 216, 0.6),
		3px 3px 2px rgba(19, 196, 209, 0.4);
	color: #f0cc00;
	font-weight: 700;
}

.content .tech1 {
	font-size: 1.6rem;
	-webkit-filter: contrast(1) invert(0) blur(0px);
	filter: contrast(1) invert(0) blur(0px);
	text-shadow: 3px 3px 1px rgba(18, 9, 99, 0.61),
		3px 3px 0px rgba(9, 10, 102, 0.432);
	letter-spacing: 5px;
	line-height: 1;
	text-align: center;
	color: #0d7ce4;
	font-weight: 700;
	
}



.tabs {
	padding-top: 1rem;
	border-bottom: 1px solid var(--varcolor-gray);
}
.tabs .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.container {
	max-width: 80%;
	margin: auto;
	overflow: hidden;
	padding: 0 5rem;
}

.tabs p {
	font-size: 1.2rem;
	padding-top: 0.5rem;
}

.tabs .container > div {
	padding: 1.5rem 1rem;
}

.tabs .container > div:hover {
	color: aqua;
	cursor: pointer;
}
.tab-border {
	border-bottom: red 4px solid;
	box-shadow: 1px 1px 20px 0px rgba(166, 157, 204, 0.5);
}
.footer{
	padding: 2.2rem;
	text-align: center;
	margin: auto;
}